/S02e01_intro/nbproject/private/
/S02e01_intro/build/
/Projetos/Aula5a/build/
/Projetos/Aula5a/nbproject/private/
/Projetos/S02e01_intro/build/
/Projetos/S02e01_intro/nbproject/private/
/Motoca/nbproject/private/
/Projeto03/nbproject/private/
/ProjetoLapiseira/nbproject/private/
/ProjetoLapiseira/build/